@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans', sans-serif;
}

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: rgb(8, 150, 155);
}

.register-box{
    position: relative;
    height: 375px;              
    width: 400px;             

    border-radius: 3px; 
    background-color: white;
}

.form-box{
    height: 80%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-box .input-box1{
    width: 80%;

    padding-top: 10px;

    display: flex;
    align-items: center;
}

.form-box .input-box1 .testo1{
    width: 48%;
    margin-left: 0;
    margin-right: auto;
    border: none;
    border-bottom: 1px solid rgb(46, 51, 58);
}

.form-box .input-box1 .testo2{
    width: 48%;
    margin-right: 0;
    margin-left: auto;
    border: none;
    border-bottom: 1px solid rgb(46, 51, 58);
}

.form-box .input-box2{
    width: 100%;

    padding-top: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.form-box .input-box2 input{
    width: 80%;

    border: none;
    border-bottom: 1px solid rgb(46, 51, 58);
}

.form-box .input-box1 input:focus, input:after, input::placeholder,
.form-box .input-box2 input:focus, input:after, input::placeholder{
    outline: none;
    color: rgb(46, 51, 58);
}

.form-box .button{
    position: relative;
    height: 17.25%;
    width: 80%;

    color: white;
    font-size: 15px;

    cursor: pointer;

    margin-top: 40px;
    border: none;
    border-radius: 3px;
    background-color: rgb(8, 150, 155);
}

.social-register{
    position: absolute;
    bottom: 0;
    height: 17%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;

    font-size: 15px;
    color: white;

    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: rgb(46, 51, 58);
}

.social-register a{
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: white;
}

.social-register a:hover{
    text-decoration: underline;
}

.login-box{
    position: relative;
    height: 54px;
    width: 400px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box p{
    color: white;
}

.login-box a{
    text-decoration: none;
    color: rgb(46, 51, 58);
}

.login-box a:hover{
    text-decoration: underline;
}